body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/images/stary_background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header{
  background-color: #000000;
  padding: 35px 15px 0px;
  border-bottom: 10px solid #FFE600;
}

h1{
  color: #FFE600;
  /* font-family: 'Bungee Outline', sans-serif; */
  font-family: 'Londrina Outline', sans-serif;
  /* font-family: 'Bungee Inline', sans-serif; */
  margin: 0px;
}

.container{

}

.card {
  border-radius: 25px;
  border: 10px solid #FFE600;
  color: #FFE600;
  background-color: #000000;
  padding: 0px 10px;
  margin: 35px 0px;
}

.flexBox{
  display: flex;

}

.flexBox div{
  width: 50%;
}